<p><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>

<% @reviews.each do |review| %>
  <%= render 'reviews/review', review: review %>
  <%= link_to 'review', product_review_path(@product, review) if is_owner_review?(review) %>
<% end %>

<%= link_to 'New review', new_product_review_path(@product) if review_exists? %>
